div.score{
    white-space: pre-line;
}

.text{
    text-align: center;
}

.score{
    text-align: center;
}

div.buttons{
    display: flex;
    justify-content: center;
    align-self: center;
}

img{
    height: 80px;
    width: 80px;
    pointer-events: none;
}

.button{
    height: 80px;
    width: 80px;
}

.container{
    text-align: center;
}